# Visual Studio temporary files
.vs/
out/
build/
bin/
obj/
*.user
*.sln
*.vcxproj
*.filters
*.aps
*.pdb
*.VC.db
*.VC.opendb
*.suo
*.userosscache

# Compiled binaries
*.exe
*.lib
*.a
*.dll

# OS files
.DS_Store
Thumbs.db

config.json


# Build directories
build/
build*/
install/
out/
bin/
obj/
Debug/
Release/
x64/
x86/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
compile_commands.json
Makefile

# Libraries/Binaries
*.objD 
*.o
*.a
*.lib
*.dll
*.so
*.dylib
*.exe
*.exp
*.ilk
*.pdb


# vcpkg
vcpkg_installed/

# Logs
*.log